.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
   #subbtn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
    cursor: pointer;
  }
  